/* General styles */
html {
  box-sizing: border-box;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

nav {
  padding: 30px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

h1 {
  margin: 50px;
}

main {
  text-align: left;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 2rem 60px 60px;
}

main p.no-message {
  text-align: center;
}

footer {
  padding-bottom: 20px;
}

/* For form.ejs */
main form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
